.container {
  max-width: 1200px;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.page {
  padding: 20px 0;
}

.flex {
  display: flex;
  align-items: center;
}

.col {
  padding: 0 15px;
  margin-bottom: 10px;
}

.col-3 {
  padding: 0 15px;
  width: 30%;
  margin-bottom: 10px;
}
