.description-wrap {
  overflow: hidden;
}

.card-image-wrap {
  position: relative;
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.masonry-item {
  width: 31%;
  margin-bottom: 20px;
}

ngx-masonry {
  width: 100%;
}
